
TstQuiz/TstQuiz/bin/Debug/TstQuiz.exe
TstQuiz/TstQuiz/bin/Debug/TstQuiz.exe.config
TstQuiz/TstQuiz/bin/Debug/TstQuiz.pdb
TstQuiz/TstQuiz/obj/Debug/MainWindow.baml
TstQuiz/TstQuiz/obj/Debug/MainWindow.g.cs
TstQuiz/TstQuiz/obj/Debug/MainWindow.g.i.cs
TstQuiz/TstQuiz/obj/Debug/TstQuiz.csproj.FileListAbsolute.txt
TstQuiz/TstQuiz/obj/Debug/TstQuiz.csproj.GenerateResource.cache
TstQuiz/TstQuiz/obj/Debug/TstQuiz.csprojAssemblyReference.cache
TstQuiz/TstQuiz/obj/Debug/TstQuiz.exe
TstQuiz/TstQuiz/obj/Debug/TstQuiz.g.resources
TstQuiz/TstQuiz/obj/Debug/TstQuiz.pdb
TstQuiz/TstQuiz/obj/Debug/TstQuiz.Properties.Resources.resources
TstQuiz/TstQuiz/obj/Debug/TstQuiz_MarkupCompile.cache
TstQuiz/TstQuiz/obj/Debug/TstQuiz_MarkupCompile.i.cache
TstQuiz/TstQuiz/obj/Debug/TstQuiz_MarkupCompile.i.lref
TstQuiz/TstQuiz/obj/Debug/TstQuiz_MarkupCompile.lref
TstQuiz/.vs/TstQuiz/v16/.suo
TstQuiz/.vs/TstQuiz/v16/Server/sqlite3/db.lock
TstQuiz/.vs/TstQuiz/v16/Server/sqlite3/storage.ide
TstQuiz/.vs/TstQuiz/v16/Server/sqlite3/storage.ide-shm
TstQuiz/.vs/TstQuiz/v16/Server/sqlite3/storage.ide-wal
TstQuiz/TstQuiz/obj/Debug/App.g.cs
TstQuiz/TstQuiz/obj/Debug/App.g.i.cs
TstQuiz/TstQuiz/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
